In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("data/data_without_null_values.csv")

In [30]:
df.head()

,Id,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,age_group,bmi_category
0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87,31-45,Normal
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51,18-30,Obese
2,8,19.0,male,41.1,100,No,0,No,northwest,1146.80,18-30,Obese
3,9,20.0,male,43.0,86,No,0,No,northwest,1149.40,18-30,Obese
4,10,30.0,male,53.1,97,No,0,No,northwest,1163.46,18-30,Obese

In [31]:
from sklearn.preprocessing import LabelEncoder
import joblib

In [32]:
df.columns

Index(['Id', 'age', 'gender', 'bmi', 'bloodpressure', 'diabetic', 'children',
       'smoker', 'region', 'claim', 'age_group', 'bmi_category'],
      dtype='object')

In [33]:
cat_cols = ["gender", "diabetic", "smoker"]
label_encoders = {}

In [34]:
for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

    joblib.dump(le, f"encoders/label_encoder_{col}.pkl")

In [35]:
label_encoders

{'gender': LabelEncoder(),
 'diabetic': LabelEncoder(),
 'smoker': LabelEncoder()}

In [36]:
df.head()

,Id,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim,age_group,bmi_category
0,1,39.0,1,23.2,91,1,0,0,southeast,1121.87,31-45,Normal
1,2,24.0,1,30.1,87,0,0,0,southeast,1131.51,18-30,Obese
2,8,19.0,1,41.1,100,0,0,0,northwest,1146.80,18-30,Obese
3,9,20.0,1,43.0,86,0,0,0,northwest,1149.40,18-30,Obese
4,10,30.0,1,53.1,97,0,0,0,northwest,1163.46,18-30,Obese

In [37]:
df.to_csv("data/prepared_data.csv", index=False)